i.fa-android {
    font-size: 100px;
}

li:nth-of-type(1) {
    color: aqua;
}

li:nth-of-type(2) {
    color: #e222c9;
}

li:nth-of-type(3) {
    color: rgb(255, 0, 0);
}

/* 16진수, rgb로 표현하는 방법들이 있습니다 */

p.text1 {
    font-size: 20px;
    line-height: 40px;
    border: 1px solid red;
}

p.text2 {
    font-size: 20;
    line-height: 1.5; 
    border: 1px solid blue;
}
/* 폰트사이즈를 기준으로 인라인 높이가 1.5배 입니다 */

p {
    border: 1px solid blue;
}
p:nth-of-type(3) {
    text-align: left;
}

p:nth-of-type(4) {
    text-align: center;
}

p:nth-of-type(5) {
    text-align: right;
}

p:nth-of-type(6) {
    text-align: justify;
}
