li:nth-of-type(1) {
    letter-spacing: 0px;
}

li:nth-of-type(2) {
    letter-spacing: 5px;
}

li:nth-of-type(3) {
    letter-spacing: -2px;
}

article:nth-of-type(1) {
    width: 100px;
    height: 100px;
    border: 1px solid tan;

}

article:nth-of-type(2) {
    width: 20%;
    height: 20%;
    border: 1px solid tan;

}

article:nth-of-type(3) {
    width: 10vw;
    height: 10vw;
    border: 1px solid tan;
    
}

article:nth-of-type(4) {
    width: 10vh;
    height: 10vh;
    border: 1px solid tan;
}
/* 티클태그로 영역을 4개로 나누고 크기를 각방법으로 정의를... px % v v */

article:nth-of-type(5) {
    margin: 20px;
    border: 1px solid red;
}

article:nth-of-type(6) {
    margin: 20px 50px;
    border: 1px solid red;
}

/* 첫번째는 상하 20 이고 50은 좌우 50 바깥쪽 여백 정하기 */

article:nth-of-type(7) {
    margin: 20px auto;
    border: 1px solid red;
}

article:nth-of-type(8) {
    margin: 20px auto 50px;
    border: 1px solid red;
}

article:nth-of-type(9) {
    margin: 0px 10px 20px 30px;
    border: 1px solid red;
}

article:nth-of-type(10) {
    margin-left: 20px;
    border: 1px solid red;
}

/* 왼쪽,오른쪽, 위쪽, 아래쪽으로부터 20만큼띄우기 */

article:nth-of-type(11) {
    margin-right: 20px;
    border: 1px solid red;
}

article:nth-of-type(12) {
    margin-top: 20px;
    border: 1px solid red;
}

article:nth-of-type(13) {
    margin-bottom: 20px;
    border: 1px solid red;
}

